*{
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 400px;
    background: #151533;
    padding: 10px;
    margin: 30px auto;
    border: 1px solid #151533;
    border-radius: 15px;
    color: #fff;
    box-shadow: 10px 10px 5px grey;
}

.container .timer{
    text-align: center;
    font-size: 35px;
}

.container .timer h1{
    margin: 3px;
}

.container .main{
    padding: 15px;
}

.container .main .header{
    color: grey;
    font-size: 10px;
}

.container .main .header span.outOf{
    font-size: 10px;
}

.container .main .question{
    font-size: 30px;
    overflow: hidden;
}

.container .main .question p{
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
}
    
.container .main .options{
    margin-top: 20px;
    color: grey;
    font-weight: 600;
}

ul{
    padding: 0;
}

ul li{
   list-style: none;
}

.container .next{
    text-align: center;
    padding: 10px;
}

.container .next button{
    background: #4c8ff5;
    padding: 10px;
    text-align: center;
    width: 60%;
    border-radius: 8px;
    border: 1px solid #4c8ff5;
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.container .next button:hover{
    color: #4c8ff5;
    background: #151533;
}

.container .score_board{
    display: none;
    position: absolute;
    top: 45%;
    left: 12px;
    background: #4c8ff5;
    width: 375px;
    height: 150px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 7px;
}
.container .score_board button{
    background: #151533;
    padding: 10px;
    text-align: center;
    color: #4c8ff5;
    font-size: 25px;
    border: 1px solid #151533;
    border-radius: 7px;
    letter-spacing: 7px;
    transition: all 0.3s ease;
}

.container .score_board button:hover{
    background: #4c8ff5;
    color: #151533;
}